.header {
    font-size: 6rem;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(217, 71, 4);
    color: rgb(0, 0, 0);
    text-align: center;
}
.bold {
    font-weight: bold;
}
#orange {
    color: rgb(217, 71, 4);
}
#italics {
    font-style: italic;
}
#underlined {
    text-decoration: underline;
}
#red {
    color: red;
}